.Card {
    height: 100%;
    width: 100%;
    margin: 25px;
    background-color: #500000;
    border-radius: 15px;

    transition: all 0.3s ease-in; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.Card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
}

.ImageCard {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    transition: all 0.35s ease-in;
}


.ObjectCover1 {
    transform: translateY(14px) translateX(15px);
}
.ObjectCover2 {
    transform: translateY(4px) translateX(-15px);;
}

.Card:hover .ObjectCover1 {
    transform: translateY(-20px) translateX(15px) rotate(5deg);
}

.Card:hover .ObjectCover2 {
    transform: translateY(-20px) translateX(-15px) rotate(-15deg);
}

/* .TextShadow {
     background-image: linear-gradient(to right, #833ab4, #fd1d1d,#fcb045);
} */