.Nav {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #500000;
    border-bottom-color: white;
    box-shadow: 8px 4px 10px rgba(0, 0, 0, 0.5);
}